<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring MVC Form Handling</title>
</head>

<body>
<h2>Student Information</h2>
<form method = "POST" th:action ="@{/addStudent}" th:object="${student}">
  <table>
    <tr>
      <td><label>Name</label></td>
      <td><input type="text" th:field="*{name}" /></td>
    </tr>
    <tr>
      <td><label>Age</label></td>
      <td><input type = "text" th:field="*{age}" /></td>
    </tr>
    <tr>
      <td><label>id</label></td>
      <td><input th:field="*{id}" /></td>
    </tr>
    <tr>
      <td colspan = "2">
        <input type = "submit" value = "Submit"/>
      </td>
    </tr>
  </table>
</form>
</body>
</html>